.TextHolderTwo {
     grid-column: 13 / 20;
     grid-row: 11 / 17;
     background-color: rgb(255, 255, 255);
     padding: 3rem;
     z-index: 200;

     @media only screen and (max-width: 1250px) {
        grid-column: 12 / 19;
        padding: 2rem;
    }

    @media only screen and (max-width: 900px) {
        grid-column: 12 / -1; 
    }


    @media only screen and (max-width: 700px) {
        order: -1;
        padding: 0 2rem;
    }
    
    @media only screen and (max-width: 450px) {
        padding: 0 1.3rem;
     }

    

     & p {
         font-size: 1rem;
         line-height: 1.55;
         font-family: 'Zilla Slab', serif;
         color: rgb(73, 72, 72);

         @media only screen and (max-width: 700px) {
            
        }
     }
}