.NavWrapp {
    width: max-content;
    height: max-content;
    //background-color: rgb(236, 226, 226);
    justify-self: center;
    padding: .7rem 1.2rem;
    transition: all .75s ease-in-out;

    display: flex;
    justify-content: center;

    @media only screen and (max-width: 600px) {
        display: none;
    }

}