.ImageBox {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    //background-color: rgb(42, 42, 56);
    transition: all .75s ease-in;

    display: grid;
    justify-items: end;


    @media only screen and (max-width: 1000px) {
        display: none;
       }
}

