.Wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat((8, 1fr));
    //background-color: white;
}

@keyframes wrapperAnime {
     0% {
        column-gap: 2.5rem;
     }

     100% {
         column-gap: 0rem;
     }
}



@keyframes navwrapp {
    0% {
        background-color: transparent;
    }

    95% {
        background-color: white;
    }

    100% {
        background-color: white;
    }
}

