.AboutHeader {
    grid-column: 10 / 14;
    grid-row: 4 / 6;
    z-index: -50;
    position: relative;
    top: 20%;
    left: 60%;
    width: max-content;
    height: 10%;
    //background-color: rgb(146, 88, 88);
    display: grid;
    justify-content: center;
    align-content: center;

 
    @media only screen and (max-width: 700px) {
        position: absolute;
        font-size: 4rem;
        top: 3.5rem;
        left: 60%;
        z-index: 200;
    }

    @media only screen and (max-width: 700px) {

        left: 55%;

    }


   
    & h6 {
        font-size: 7rem;
        color: rgb(247, 242, 242);

        @media only screen and (max-width: 700px) {
            font-size: 4.5rem;
        }

        @media only screen and (max-width: 500px) {
            font-size: 3.5rem;
        }

    }
}