.NavigationWrapper {
    position: fixed;
    height: 100%;
    width: 30%;
    top: 0;
    left: 0;
    //background-color: white;
    z-index: 3000;
    display: grid;
    

    @media (max-width: 900px) { 
        width: 50%;
    }

    @media (max-width: 600px) { 
        width: 100%;
    }

}



@keyframes navwrapp {
    0% {
        background-color: transparent;
    }

    95% {
        background-color: white;
    }

    100% {
        background-color: white;
    }
}
